<!DOCTYPE html>
<html>
  <head>
    <title>RailsGoogleAuth</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="container">
      <% if flash.any? %>
        <% flash.each do |key, value| -%>
          <div class="alert alert-<%= map_alert_key(key) %>" role="alert">
            <%= value.html_safe %>
          </div>
        <% end -%>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>
